/** desktop **/
.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: grey;
}

.input {
  border: 1px solid var(--grey);
  border-radius: 6px;
  padding: 10px var(--s2);
}

.error {
  border: 1px solid red;
  border-radius: 6px;
  padding: 10px var(--s2);
}

/** mobile **/
@media screen and (max-width: 900px) {
}
