.container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.header {
  padding: 20px;
  background-color: aliceblue;
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header .buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: row;
  gap: 60px;
  padding: 20px;
  background-color: var(--white);
}

.column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.subheader {
  color: rgb(120, 120, 120);
}
