/** desktop **/
.container {
  border: none;
  border-radius: var(--s1);
  padding: 9px var(--s2);
  background-color: var(--primary);
  color: var(--white);
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.container:hover {
  background-color: var(--primary-hover);
}

/** mobile **/
