.container {
  height: 100vh;
  width: 100%;
  background: rgb(2,0,36);
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(7,51,96,1) 65%, rgba(9,64,121,1) 99%);
  color: var(--black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.card {
  width: 450px;
  background-color: var(--white);
  padding: 35px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--s1);
}

.card .header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 400;
}

.header .h4 {
  font-weight: 300;
}
