.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.calendarlist {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.servicingcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.taskheadercontainer,
.servicingcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.taskheadercontainer {
  position: relative;
  justify-content: space-between;
}

.taskheaderrow {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.taskheadercontainer .taskheaderactions, .servicingcontainer .servicingActions {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.taskheaderactions .actionbutton, .servicingActions .actionbutton {
  cursor: pointer;
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;

}

.taskheadercontainer:hover .taskheaderactions {
  z-index: 2;
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.taskcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.taskcontainer .hidedescription {
  transition: 1.3s;
  display: none;
}

.taskcontainer .showdescription {
  font-weight: lighter;
  transition: 1.3s;
  display: flex;
}

.breakdownservicecontainer,
.breakdowntaskcontainer {
  padding: 10px;
  border-radius: 9px;
}

.breakdownservicecontainer {
  background-color: rgb(6, 168, 221);
  color: #fff;
}

.breakdowntaskcontainer {
  color: #fff;
  background-color: rgb(1, 110, 218);
}
