.container,
.contentcontainer {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.card {
  border-radius: 6px;
  padding: 35px;
  background-color: var(--white);
}

.address {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.receiver,
.sender,
.subtotal {
  width: 30%;
}

.subtotal {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  align-items: center;
}

.subfooter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer {
  margin-top: 15px;
}

.container {
  margin-bottom: 10px;
}

.contentcontainer {
  border-bottom: 2px solid grey;
  padding: 10px 0px;
}

.part {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.submitbtncontainer,
.totalcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

.totalcontainer {
  padding: 10px 0px;
}
