.container {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
}

.header {
  padding: 30px 20px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.main {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.activetab {
  padding: 0px 10px 15px 10px;
  border-bottom: 2px solid var(--primary);
  font-weight: 800;
  cursor: pointer;
}

.inactivetab {
  padding: 0px 10px 15px 10px;
}
